.DayTasks-container{
    width: 80%;
    margin: 3em auto 0 auto;
    overflow: auto;
}

.DayTasks-table{
    width: 100%;
    table-layout: fixed;
}

.DayTasks-table, .DayTasks-table th, .DayTasks-table td{
    border: 1px solid black;
    border-collapse: collapse;
}

.DayTasks-table th, .DayTasks-table td{
    padding: 1em;
    text-align: center;
}

.DayTasks-table th{
    background-color: #00c3ff54;
}

.DayTasks-SNO{
    width: 10%;
}

.DayTasks-Task{
    width: 60%;
}

.DayTasks-Time{
    width: 15%;
}

.DayTasks-Actions{
    width: 15%;
}

.DayTasks-DeleteBtn{
    cursor: pointer;
}

.DayTasks-Taskval{
    word-wrap: break-word;
}

@media screen and (max-width: 900px){
    .DayTasks-container{
        width: 95%;
    }
    
    .DayTasks-table{
        width: 140%;
    }

    .DayTasks-SNO{
        width: 15%;
    }

    .DayTasks-Time{
        width: 20%;
    }

    .DayTasks-Task{
        width: 45%;
    }

    .DayTasks-Actions{
        width: 20%;
    }
}