.Navbar{
    background-color: #ea9f9f;
    display: flex;
    justify-content: space-between;
}

.Navbar-links{
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.8rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar-navigationContainer{
    display: flex;
}

.Navbar-navigationContainer > *{
    padding: 1rem;
}

.Navbar-Upcoming{
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.Navbar-Newtask{
    cursor: pointer;
    font-size: 1.3rem;
    color: black;
}

.Navbar-Newtask:hover, .Navbar-Upcoming:hover, .Navbar-Newtask-vertical:hover,
.Navbar-Upcoming-vertical:hover{
    background-color: #d0878794;
}

.Navbar-vertical{
    background-color: #ea9f9f;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
}

.Navbar-vertical > *{
    padding: 1rem;
}

.Navbar-Upcoming-vertical{
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: bold;
    color: black;
    width: 100%;
    text-align: center;
}

.Navbar-Newtask-vertical{
    cursor: pointer;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
}

.Navbar-Hamburger{
    position: absolute;
    top: 20px;
    right: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;
    cursor: pointer;
}

.Navbar-line{
    width: 100%;
    background-color: black;
    height: 1px;
}