.NewTask-modal{
    position: fixed;
    z-index: 1;
    padding-top: 8em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-modal-background);
}

.NewTask-popup{
    background-color: var(--clr-popup-background);
    width: 65vw;
    border-radius: 5px;
    margin: 0 auto;
}

.NewTask-popupHeader{
    display: flex;
    justify-content: space-between;
    padding: 0.4em;
    border-bottom: 1px solid #8888888c;
}

.NewTask-closebtn{
    cursor: pointer;
}

.NewTask-closebtn:hover{
    color: #888;
}

.NewTask-popupBody{
    padding: 1em;
    padding-top: 2em;
}

.NewTask-formContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 25px;
}

.NewTask-inputContainer{
    display: flex;
    flex-direction: column;
}

.NewTask-input{
    padding: 0.5em;
    margin-top: 0.5em;
    width: 50%;
}

.txtArea{
    resize: none;
}

.NewTask-submitBtn{
    margin: 3em auto 0 auto;
    display: block;
    padding: 0.6em 0.8em;
    cursor: pointer;
    background-color: #89493F;
    border-radius: 8px;
    border: none;
    color: #e1e8db;
}

.NewTask-submitBtn:hover{
    background-color: #89493FBF;
    color: #e1e8dbc2;
}

.NewTask-validationMsg{
    margin-top: 0;
    margin-bottom: 2em;
    color: rgb(239, 17, 17);
    padding: 0;
    list-style-type: none;
}

@media (min-width: 901px) and (max-width: 1300px){
    .NewTask-popup{
        width: 80vw;
    }
}

@media (max-width: 900px){
    .NewTask-popup{
        width: 90vw;
    }
}

@media (max-width: 700px){
    .NewTask-formContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 25px;
    }
}