.TaskStatus-promptMsg{
    width: 20%;
    padding: 0.5em;
    margin: 1em auto 0 auto;
    border-radius: 5px;
}

.TaskStatus-promptMsg p{
    text-align: center;
}

.success{
    background-color: #bad58b;
    color: #425b25;
}

.failure{
    background-color: #ffbaba;
    color: #d8000c;
}